<!DOCTYPE html>
<html lang="en">


<head>

  	<meta charset="UTF-8">
  	<title>旅客邦</title>
  	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

	<style type="text/css">
		body {
		background: #FFEFBA;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}
		  
	</style>

</head>



<body style="margin:20px 50px 200px 50px">
	{% load static %}
	{% load my_templatetag %}
	<!-- 上面的搜尋列 -->
	<center>
  		<form class="ui form" action='/tripapp/group' method="POST">
  		{% csrf_token %}
		<div class="ui menu" style="width:70%">
			
			<div class="item" style="width:10%">

	  		<a href="http://140.113.213.18/index" title="Home"><img src="https://i.imgur.com/aIE76Tr.jpg" alt="LOGO" style="width:40%" onMouseOver="this.width=this.width*1.2;this.height=this.height*1.2" onMouseOut="this.width=this.width/1.2;this.height=this.height/1.2"></a>
			</div>


			<div class="item" id="search" style="width:70%">
		  		<div class="ui transparent input" style="width:90% ">
					<input type="text" placeholder={{keyword}} name="Search">
			  		<button class="ui button" type="submit" id="submit" >
						<i class="search link icon"></i>
			  		</button>
				</div>
			</div>
		</div>
		</form>
	</center>

	<!-- 內容 -->
	
	{% for path in result %}
	<!-- 第幾條路徑 -->
	<div class="ui segments" style="margin:20px 50px">
		{% for day in Days %}
		<!-- 第幾天的行程 -->

			<h3 class="ui header" style="margin:20px 20px ">	
				<i class="large icons">
					<i class="red calendar alternate outline icon"></i>
				</i>
				Day {{ day|add:"1" }}
			</h3>

			{% with points=path|list_item:day %}
				<div class="ui cards" style="margin:20px 20px 5px 20px">
				{% for place_num in points.poi_seq|len_range%}

					<div class="card" style="width:230px">
						{% if points.pic_list|list_item:place_num == 'No picture' %}
							<div class="image">
								<img src="https://i.imgur.com/aIE76Tr.jpg" title="Coming Soon"  >
							</div>
							{% else %}
							<div class="image">
								<img src={{points.pic_list|list_item:place_num}} title={{points.pic_des_list|list_item:place_num}} style="height:230px">
							</div>
						{% endif %}
						<div class="content">
							<div class="header"> {{points.poi_seq|list_item:place_num}} </div>
							<div class="description"> {{points.addr_seq|list_item:place_num}} </div>	
						</div>
					</div>
						
					{% if place_num|add:"1"  < points.poi_seq|length %}
						<i class=" big brown bus icon" title="It will be supported in the future." style="margin:150px 10px"></i>
					{% endif %}
				{% endfor %}
				</div>

				<div class="ui accordion" style="margin:10px">
					<div class="title">
						<i class="dropdown icon" ></i>
						Pixnet 相關網頁 共{{points.url_list|length}}則
					</div>
					<div class="content" style="margin:3px 10px 10px">

						{% for url_num in points.url_list|len_range%}
						<a href={{points.url_list|list_item:url_num}}> {{ points.title_list|list_item:url_num }} </a></br>
				
						{% endfor %}

					</div>  
				</div>
	
			{% endwith %}
			
		{% endfor %}

	</div>
	{% endfor %}
	

<script type="text/javascript">

	$('.ui.accordion')
	  .accordion()
	;
	$('.trigger.example .accordion')
	  .accordion({
		selector: {
		  trigger: '.title .icon'
		}
	  })
	;

	$('.ui.rating')
	  .rating({
		initialRating: 3,
		maxRating: 5
	  })
	;

</script>

</body>

</html>	